# Chemins des données
DATA_RAW_PATH=chemin vers les données brutes
DATA_PARQUET_RAW_PATH=chemin vers les données Parquet brutes
DATA_PARQUET_CLEAN_PATH=chemin vers les données Parquet nettoyées
DUCKDB_PATH=chemin vers la base de données DuckDB
